@font-face {
  font-family: "iconfont"; /* Project id 3767487 */
  src: url('iconfont.woff2?t=1668309252995') format('woff2'),
       url('iconfont.woff?t=1668309252995') format('woff'),
       url('iconfont.ttf?t=1668309252995') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\ed53";
}

.icon-tongzhi:before {
  content: "\ed54";
}

.icon-kefu:before {
  content: "\ed55";
}

.icon-shoucang:before {
  content: "\ed5a";
}

