/*属性选择器*/
.btn[data-btn="1234665666"] {
  background-color: red;
}
.btn.active {
  background-color: green;
}

.onOff[data-onoff="1234665666"]{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #0ff;
  box-shadow: 0 0 5px #999;
  transition: background-color 0.5s ease, margin-left 0.5s ease,;
}

.onOff::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 15px;
  background-color: #fff;
  transition: margin-left 0.5s ease;
}

.change {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #999;
  transition: background-color 0.5s ease;
}
.change::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  margin: 10px 10px 10px 60px;
  transition: margin-left 0.5s ease,
}